@use "global"as *;


.footer-menu {
    background-color: $green2;
    width: 100%;
    padding: rem(48) 0 rem(56) 0;
    @include mq("md") {
    padding: rem(80) 0;
	}

}

.footer-menu__inner {
    text-align-last: left;
    text-align: center;

    @include mq("md") {
        max-width: rem(826);
    text-align: center;

    }
}

.footer-menu__inner.inner.inner--footer{
    text-align: center;
    @include mq("md") {
        text-align: center;
	}
}


.footer__imgs {
    @include mq("md") {
        display: flex;
    }
}

.footer-menu__contents {
    column-count: 2;
    column-gap: rem(7);
    margin-top: rem(25);

    @include mq("md") {
        column-count: 4;
        margin-top: rem(13)
    }
}

.footer__icon {
    margin-top: rem(12);
    display: flex;
    gap: rem(16);

    @include mq("md") {
        margin-top: rem(36);
        margin-left: rem(40);
    }
}

.footer__logo img {
    display: inline-block;
    width: rem(120);

    @include mq("md") {
        width: rem(200);
    }
}

.footer__icon img {
    width: rem(24);

    @include mq("md") {
        width: rem(32);
        height: rem(32);
    }
}

.footer-menu__items:not(:first-child) {
    margin-top: rem(18);

    @include mq("md") {
        margin-top: rem(22);
    }
}

.footer-menu__item {
    width: 100%;
    padding-top: rem(28.4);
    transition: .3s opacity;
}

.footer-menu__item:hover {
    opacity: 0.7;
}

.footer-menu__item a {
    width: 100%;
    display: block;
    font-size: rem(16);
    font-weight: $normal;
    line-height: 1;
    color: $white;
    padding-left: rem(22);
}

.footer-menu__item.footer-menu__item--big {
    padding-left: rem(18.4);
    position: relative;
}

.footer-menu__item.footer-menu__item--big::before {
    position: absolute;
    top: rem(26);
    left: 0;
    content: '';
    display: inline-block;
    width: rem(18);
    height: rem(18);
    background-image: url(../images/common/logo-starfish.svg);
    background-size: cover;
    background-position: center;
    vertical-align: middle;
}

.footer-menu__item.footer-menu__item--big a {
    width: 100%;
    display: block;
    font-weight: 700;
    padding-left: rem(4);
}

.footer__copyright {
    margin-top: rem(35);
    display: flex;
    justify-content: center;
    @include mq("md") {
    margin-top: rem(80);
    }
}

.footer__copyright {
    color: $white;
    font-family: $second-font;
    font-size: rem(12);

    @include mq("md") {
        font-size: rem(14);
    }
}