@use "global"as *;

.header {
    position: fixed;
    height: rem(80);
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(13, 41, 54, 0.68);
    z-index: 7000;

    @include mq("md") {
        height: rem(90);
    }
}

.header__inner {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 rem(15);

    @include mq("md") {
    padding: 0 rem(20) 0 rem(40);
    // padding: 0 clamp(0.938rem, -0.843rem + 3.71vw, 2.5rem);
    //15pxã€œ40px
	}
}

.header__logo {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(102);
    z-index: 7000;

    @include mq("md") {
        width: rem(133);
    }
}