@use "global"as *;

.voice {
    @include mq("md") {
        position: relative;
    }
}

.voice__contents {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: rem(40);
    margin-top: rem(40);

    @include mq("md") {
        grid-template-columns: repeat(2, 1fr);
        margin-top: rem(30);
    }
}

.voice__button {
    margin-top: rem(40);
    text-align: center;

    @include mq("md") {
        margin-top: rem(80);
    }
}

.voice__illustration {
    position: absolute;
    right: calc(50% - 33.75rem);
    bottom: rem(76);
    width: 100%;
    max-width: rem(71);
}

.voice__illustration.voice__illustration--top {
    left: calc(50% - max(31.875rem, min(47vw, 38.875rem)));
    top: rem(24);
    max-width: rem(301);
}

// calc(50% - clamp(31.875rem, 47vw, 39.875rem));